<%-include('../../shared/includes/head',{title:'home'}) %>
  </head>

  <body>
    <%-include('../../shared/includes/header') %>
    <main>
      
    </main>
  <%-include('../../shared/includes/footer')%>