<aside class="category" >
    <ul>
        <li><a> cat 1</a></li>
        <li><a> cat 2</a></li>
        <li><a> cat 3</a></li>
        <li><a> cat 4</a></li>
        <li><a> cat 5</a></li>
    </ul>
</aside>