<nav>
    <ul class="nav_links">
      <li class="nav_link home"><a href="/all-products">Home</a><i  class="fa-solid fa-house"></i></li>
      <li class="nav_link"><a>About</a></li>
      <li class="nav_link"><a>Contact</a></li>
      <li class="nav_link"><a>Gallery</a></li>
      <li class="nav_link"><a href="/login">log in</a></li>
      <li class="nav_link"><a href="/signup">Sign up</a></li>
    </ul>
  </nav>